# Ignore all the files in the LectorER directory that are not .py files
/LectorER/build
/LectorER/dist
/LectorER/lectorER.spec
/AutomataFinito/__pycache__
/AutomataFinito/build
/AutomataFinito/dist
/AutomataFinito/lectorER.spec
/AutomataFinito/app.spec
/AnalizadorLexico/lex.yy.c
/AnalizadorLexico/a.out
/AnalizadorLexico/docs.texi
/AnalizadorLexico/tokens.txt
/AnalizadorLexico/errors.txt
/AnalizadorLexico/testlang.txt